/* Start Variables */
:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --section-paragraph-color: #777;
}

/* End Variables */

/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* جديدة */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Work Sans', sans-serif;
    /* background-color: #2c4755; */
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* Mobil */
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

/* Medium Screen */
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

/* Large Screen */
@media(min-width:1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */

/* Start Common Entities  */
.special-header {
    color: #ebeced;
    font-weight: 800;
    font-size: 100px;
    text-align: center;
    margin: 0;
    letter-spacing: -4px;
}

.special-header+p {
    color: #797979;
    text-align: center;
    margin: -30px 0;
    font-size: 20px;
}

@media (max-width:767px) {
    .special-header {
        font-size: 60px;
    }

    .special-heading+p {
        margin-top: -20px;
    }
}

.grid-3 {
    /* 1fr هيملي الاعمدة علي حسب المساحة المتاحة و البداية هتكون من300 لغايت  */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
/* End Common Entities  */

/* Start Header */
.header {
    padding: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .container .logo {
    width: 60px;
}

.header .container .links {
    position: relative;
}

.header .container .links:hover .icon span:nth-child(2) {
    width: 100%;
}

.header .container .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .container .links .icon span {
    background-color: #333;
    height: 2px;
    margin-bottom: 5px;
}

.header .container .links .icon span:first-child {
    width: 100%;
}

.header .container .links .icon span:nth-child(2) {
    width: 60%;
    transition: .5s;
}

.header .container .links .icon span:last-child {
    width: 100%;
}

.header .container .links ul {
    background-color: #f6f6f6;
    min-width: 200px;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
}

.header .container .links:hover ul {
    display: block;
}

.header .container .links ul::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -20px;
    right: 5%;
    border: 10px solid;
    border-color: transparent transparent #f6f6f6 transparent;
}

.header .container .links ul li a {
    text-decoration: none;
    transition: padding-left .5s;
    padding: 15px;
    display: block;
    color: #333;
}

.header .container .links ul li:hover a {
    padding-left: 30px;
}

.header .container .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}
/* End Header */

/* Start Landing Section */
.land {
    position: relative;
    background-image: url(../Images/landing.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
}

.land .intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}

.land .intro-text h1 {
    margin: 0;
    color: var(--main-color);
    font-size: 50px;
}

.land .intro-text p {
    font-size: 19px;
    line-height: 1.8;
}
/* End Landing Section  */

/* Start  Feature Section */
.feature {
    background-color: var(--section-background);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.feature .container {
    gap: 30px;
}

.feature .container .feat {
    text-align: center;
    padding: 20px;
}

.feature .container .feat h3 {
    font-weight: 800;
    margin: 30px 0;
}

.feature .container .feat i {
    color: var(--main-color);
    /* display: flex;
    justify-content: center; */
    font-size: 50px;
}

.feature .container .feat p {
    color: var(--section-paragraph-color);
    line-height: 1.9;
    font-size: 17px;
}
/* End Feature Section */

/* Start Services Section */

.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.services .services-content {
    grid-gap: 30px;
    margin-top: 100px;
}

.services .services-content .col .srv {
    display: flex;
    margin-bottom: 40px;
}

/* عشان يقلب العرض عمودي في الموبايل العناصر تبقي تحت بعضها يعني */
@media (max-width:767px) {
    .services .services-content .col .srv {
        flex-direction: column;
        text-align: center;
    }
}

.services i {
    color: var(--main-color);
    flex-basis: 60px;
}

.services .text {
    /* margin: -15px 20px 0; */
    flex: 1;
}

.services .text p {
    color: var(--section-paragraph-color);
    font-weight: 300;
    line-height: 1.6;
}

.services .text h3 {
    margin: 0 0 20px;
}

.image {
    position: relative;
    text-align: center;
    /* left: 14%; */
}

.image::before {
    content: "";
    width: 100px;
    height: calc(100% + 100px);
    background-color: var(--secondary-color);
    position: absolute;
    /* top: -50%; */
    top: -14%;
    right: 0;
    z-index: -1;
    /* transform: translate(-50%, -50%); */
}

.image img {
    width: 260px;
    /* height: 346px; */
}

@media (max-width:1199px) {
    .image {
        display: none;
    }
}
/* End Services Section */

/* Start portfolio section */
.portfolio {
    background-color: var(--section-background);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.portfolio .portfolio-content {
    gap: 30px;
    margin-top: 100px;
}

.portfolio-content .card {
    background-color: white;
}

.portfolio-content .card img {
    width: 100%;
}

.portfolio-content .card .info {
    padding: 20px;
}

.card .info h3 {
    margin: 0;
}

.card .info p {
    color: var(--section-paragraph-color);
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 0;
}
/* End portfolio section */

/* Start About Section */

.about {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.about .about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

@media (max-width:991px) {
    .about .about-content {
        flex-direction: column;
        text-align: center;
    }
}

.about .about-content .img {
    width: 250px;
    height: 375px;
    position: relative;
}

@media (max-width:991px) {

    .about .about-content .img {
        margin: 0 auto 50px;
    }
}

.about .about-content .img::before {
    content: "";
    position: absolute;
    width: 100px;
    height: calc(100% + 60px);
    background-color: #ebeced;
    top: -30px;
    left: -20px;
    z-index: -1;
}

.about .about-content .img::after {
    content: "";
    position: absolute;
    height: 300px;
    width: 120px;
    border-left: solid 80px var(--main-color);
    border-bottom: solid 80px var(--main-color);
    z-index: -1;
    top: -30px;
    right: -150px;
}

@media (max-width:991px) {

    .about .about-content .img::before,
    .about .about-content .img::after {
        display: none;
    }

    /* .about .about-content .img {
        display: none;
    } */
}

.img img {
    width: 100%;
}

.about-content .text {
    /* عشان يبقي في مساحة للصورة  ويجي جمبها */
    flex-basis: calc(100% - 500px);
    /* flex: 1;
    padding-left: 20px; */
}

.about-content .text p:first-of-type {
    padding-bottom: 30px;
    font-weight: bold;
    line-height: 2;
}

.about-content .text hr {
    width: 50%;
    border-color: #10cab7;
    display: inline-block;
}

.about-content .text p:last-of-type {
    line-height: 2;
    color: var(--section-paragraph-color);
}
/* End About Section */

/* Start Contact Section */

.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.contact .contact-con {
    text-align: center;
    /* margin-top: 100px; */
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.contact .contact-con .label {
    color: var(--secondary-color);
    font-size: 35px;
    font-weight: 800;
    letter-spacing: -2px;
    margin-bottom: 15px;
}

@media (max-width:767px) {
    .contact .contact-con .label {
        font-size: 25px;
    }
}

.contact .contact-con .link {
    color: var(--main-color);
    text-decoration: none;
    font-size: 30px;
    font-weight: 800;
    display: block;
    text-decoration: none;
}

@media (max-width:767px) {
    .contact .contact-con .link {
        font-size: 25px;
    }
}

.contact .contact-con .social {
    color: var(--secondary-color);
    font-size: 16px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.contact .contact-con i {
    color: var(--secondary-color);
    margin-left: 15px;
}
/* End Contact Section  */

/* Start Footer Section */
.footer {
    /* padding-top: var(--section-padding); */
    padding: 30px 10px;
    background-color: var(--secondary-color);
    color: white;
    font-size: 18px;
    text-align: center;
}

.footer span {
    color: var(--main-color);
    font-weight: bold;
}
/* End Footer Section */